.live {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #ff0000;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.blinking-cursor {
    margin-left: 25px;
    font-weight: 100;
    font-size: 100px;
    color: white;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}