.line {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 12px;
    position: relative;
    border-radius: 13px;

    span {
        content: '';
        border-radius: 13px;
        display: block;
        height: 12px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(90deg, #eb0c0c 0%, #7c0000 100%);
    }
}