.header {

    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 4px 25px 0 rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.29);
    border-bottom: 1px solid #b20000;
    transition: .3s !important;


    &__nav {
        transition: .5s !important;
        height: 110px;

        &-list {

            div {
                border: 3px solid #980000;
                border-radius: 50px;
                padding: 17px 35px;

                li {
                    a {
                        font-family: var(--font-family);
                        font-weight: 600;
                        transition: .3s;
                        text-align: center;

                        &:hover {
                            color: #ff8181;
                        }
                    }

                    ::after {
                        content: '|';
                        width: 1px;
                        color: #b80000;
                        margin-left: 20px;
                    }

                    &:last-child {
                        ::after {
                            content: '';
                        }
                    }
                }
            }
        }

        .burger {
            display: none;
        }
    }
}